<!--begin::Topbar-->
<div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
    <!--begin::Search-->
    <div class="d-flex align-items-stretch me-1">
<!--layout-partial:partials/search/_inline.html-->
    </div>
    <!--end::Search-->
    <!--begin::Toolbar wrapper-->
    <div class="d-flex align-items-stretch flex-shrink-0">
        <!--begin::Activities-->
        <div class="d-flex align-items-center ms-1 ms-lg-2">
            <!--begin::Drawer toggle-->
            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_activities_toggle">
                <i class="ki-duotone ki-chart-simple fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>            </div>
            <!--end::Drawer toggle-->
        </div>
        <!--end::Activities-->
        <!--begin::Quick links-->
        <div class="d-flex align-items-center ms-1 ms-lg-2">
            <!--begin::Menu wrapper-->
            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                <i class="ki-duotone ki-element-plus fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>            </div>
<!--layout-partial:partials/menus/_quick-links-menu.html-->
            <!--end::Menu wrapper-->
        </div>
        <!--end::Quick links-->
        <!--begin::Chat-->
        <div class="d-flex align-items-center ms-1 ms-lg-2">
            <!--begin::Menu wrapper-->
            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px position-relative" id="kt_drawer_chat_toggle">
                <i class="ki-duotone ki-message-text-2 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                <span class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink">
                </span>
            </div>
            <!--end::Menu wrapper-->
        </div>
        <!--end::Chat-->
        <!--begin::Notifications-->
        <div class="d-flex align-items-center ms-1 ms-lg-2">
            <!--begin::Menu wrapper-->
            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                <i class="ki-duotone ki-element-11 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>            </div>
<!--layout-partial:partials/menus/_notifications-menu.html-->
            <!--end::Menu wrapper-->
        </div>
        <!--end::Notifications-->
        <!--begin::Theme mode-->
        <div class="d-flex align-items-center ms-1 ms-lg-2">
<!--layout-partial:partials/theme-mode/_main.html-->
        </div>
        <!--end::Theme mode-->
        <!--begin::User-->
        <div class="d-flex align-items-center ms-2 ms-lg-3" id="kt_header_user_menu_toggle">
            <!--begin::Menu wrapper-->
            <div class="cursor-pointer symbol symbol-35px symbol-lg-35px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                <img alt="Pic" src="assets/media/avatars/300-1.jpg"/>
            </div>
<!--layout-partial:partials/menus/_user-account-menu.html-->
            <!--end::Menu wrapper-->
        </div>
        <!--end::User -->
    </div>
    <!--end::Toolbar wrapper-->
</div>
<!--end::Topbar-->